@import .container .left-col{
	background-image: url(/images/bg.jpg);
	background-size: cover;
	height: 100%;
	position: fixed;
	width: 270px;
}
.container .mid-col .mid-col-container #content article .title{
	font-size: 16px;
}